<div class="card" style="width: 20rem;">
  <div class="card-body">
    <div class="card-title"></div>

    <form [formGroup]="formulario" (ngSubmit)="autenticar()">
      <div class="form-group">
        <input
          type="email"
          class="form-control"
          placeholder="E-mail"
          formControlName="email"
        >
        <small *ngIf="!formulario.get('email').valid && formulario.get('email').touched" class="form-text text-danger"><em>Email inválido</em></small>
      </div>
      <div class="form-group">
        <input
          type="password"
          class="form-control"
          placeholder="Senha"
          formControlName="senha"
        >
        <small *ngIf="!formulario.get('senha').valid && formulario.get('senha').touched" class="form-text text-danger"><em>Senha é obrigatório</em></small>
      </div>
      <button type="submit" [disabled]="!formulario.valid" class="btn btn-primary btn-sm btn-block">Entrar</button>
    </form>
    <hr />

    <p class="small text-danger text-center">{{ message }}</p>

  </div>
</div>
<br />
<div class="card" style="width: 20rem;">
  <div class="card-body">
    <p class="card-text">
      Não tem uma conta? <a href="#" (click)="exibirPainelCadastro()" class="card-link">Cadastre-se</a>
    </p>
  </div>
</div>
