<nav class="navbar fixed-top navbar-light bg-white">
  <div class="container">
    <div class="logo"></div>
    <div>
      <div class="add-post" data-toggle="modal" data-target="#exampleModal"></div>
      <a href="" (click)="sair()" style="margin-left: 25px">Sair</a>
    </div>
  </div>  
</nav>

<br /><br /><br />
<div class="container">
  <app-publicacoes></app-publicacoes>
  <app-incluir-publicacao></app-incluir-publicacao>
</div>
